textarea:focus, textarea:hover, textarea:active, textarea:visited, input:focus, input:hover, input:active, input:visited, textarea:focus, textarea:hover, textarea:active, textarea:visited {
  outline: none !important;
}

.userDashBoard .buttonNavigation {
  text-align: center;
  width: 70%;
  margin: 20px 20px;
}

.userDashBoard .buttonNavigation .UserDashLogo img {
  margin: 0px;
}

.userDashBoard .buttonNavigation .navgationLists {
  border: 1px solid black;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 0px;
  padding: 10px 20px;
  margin: 10px 0px;
}

.userDashBoard .buttonNavigation .navgationLists p {
  margin-bottom: 0px;
}

.userDashBoard .buttonNavigation .InscriptionBtn {
  background-color: #5e72e4;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDashBoard .buttonNavigation .InscriptionBtn svg {
  fill: white;
  position: relative;
  right: 10px;
}

.userDashBoard .buttonNavigation .InscriptionBtn:hover {
  background-color: #425cf5;
}

.userDashBoard .buttonNavigation .ConnexionBtn {
  border: 1px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b4b4b4;
}

.userDashBoard .buttonNavigation .ConnexionBtn svg {
  fill: #b4b4b4;
  position: relative;
  right: 10px;
}

.userDashBoard .buttonNavigation .ConnexionBtn:hover {
  background-color: #5e72e4;
  color: white;
  border: none;
}

.userDashBoard .buttonNavigation .ConnexionBtn:hover svg {
  fill: white;
}

@media screen and (max-width: 1024px) {
  .userDashBoard .buttonNavigation {
    width: 90%;
  }
}

@media screen and (max-width: 560px) {
  .userDashBoard .buttonNavigation {
    width: 100%;
  }
}

.userDashBoard .ValiderBtn {
  background-color: #5e72e4;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDashBoard .ValiderBtn svg {
  fill: white;
  position: relative;
  right: 10px;
}

.userDashBoard .ValiderBtn:hover {
  background-color: #425cf5;
}

.userDashBoard .FormInscription {
  margin: 20px 20px;
  position: relative;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #f7fafc;
  box-shadow: 0px 0px 11px -7px black;
}

.userDashBoard .FormInscription .ZoneInput {
  padding: 5px 0px;
}

.userDashBoard .FormInscription .ZoneInput span {
  color: #525f7f;
  font-size: .875rem;
  font-weight: 600;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild {
  box-shadow: 0 1px 11px -9px black;
  border: 0;
  transition: box-shadow .15s ease;
  margin: 10px 0px;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild input, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea {
  padding: 10px 4px;
  position: relative;
  left: 10px;
  width: 100%;
  color: #8898aa;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild input:focus, .userDashBoard .FormInscription .ZoneInput .InputFaild input:hover, .userDashBoard .FormInscription .ZoneInput .InputFaild input:active, .userDashBoard .FormInscription .ZoneInput .InputFaild input:visited, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:focus, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:hover, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:active, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:visited {
  outline: none;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild ::placeholder {
  color: #bcc2c8;
  position: relative;
  top: 1px;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild svg {
  fill: #bcc2c8;
  width: 25px;
  height: 25px;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild textarea {
  height: 150px;
}

.userDashBoard .FormInscription .ZoneInput .InputFaild textarea:focus, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:hover, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:active, .userDashBoard .FormInscription .ZoneInput .InputFaild textarea:visited {
  outline: none;
}

.userDashBoard .FormInscription .CoverImg .AddImg {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  cursor: pointer;
  width: 10%;
  text-align: center;
  object-fit: cover;
}

.userDashBoard .FormInscription .CoverImg .AddImg svg {
  width: 50px;
  height: 40px;
  fill: black;
}

.userDashBoard .FormInscription .CoverImg .AddImg img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .userDashBoard .FormInscription .CoverImg .AddImg {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .userDashBoard .FormInscription .CoverImg .AddImg {
    width: 40%;
  }
}

.userDashBoard .FormInscription .LesImgs {
  display: flex;
}

.userDashBoard .FormInscription .LesImgs .AddImg {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 20px 0px;
  cursor: pointer;
  width: 10%;
  text-align: center;
  object-fit: cover;
}

.userDashBoard .FormInscription .LesImgs .AddImg svg {
  width: 50px;
  height: 40px;
  fill: black;
}

.userDashBoard .FormInscription .LesImgs .AddImg img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .userDashBoard .FormInscription .LesImgs .AddImg {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .userDashBoard .FormInscription .LesImgs {
    display: block;
  }
  .userDashBoard .FormInscription .LesImgs .AddImg {
    width: 40%;
  }
}

.userDashBoard .FormInscription .VldBtn {
  background-color: #5e72e4;
  color: white;
  padding: 10px 50px;
  border-radius: 30px;
  margin: 10px 0px;
}

.userDashBoard .FormInscription .VldBtn:hover {
  background-color: #425cf5;
}

.userDashBoard .FormInscription textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #d1d1d1;
  background-color: white;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 10px;
}

.userDashBoard .FormInscription .v-select > .v-input__control > .v-input__slot {
  background-color: white;
  border-radius: 0.375rem;
  padding: 0px 10px;
  border: none !important;
}

.userDashBoard .FormInscription .v-select > .v-input__control > .v-input__slot span {
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  .userDashBoard .FormInscription {
    padding: 20px 20px;
  }
}

.buttonNavigation {
  display: flex;
  flex-direction: column;
}

.buttonNavigation .UserDashLogo {
  width: 100%;
  margin: 10% 0%;
}

.buttonNavigation .UserDashLogo img {
  margin-left: 30%;
}

.buttonNavigation .navgationLists {
  margin-bottom: 10px;
  text-decoration: none;
  color: gray;
}

.confirmation {
  background-image: url(https://searchcept.com/IMAGES/organismeImg2.jpg);
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 200px 0px;
  text-align: center;
}

.confirmation img {
  margin-bottom: 40px;
  width: 25%;
}

.confirmation form {
  box-shadow: 0 0 11px -3px black !important;
  background-color: #f7fafc;
  width: 45%;
  margin: auto;
  border-radius: 10px;
  padding: 30px 30px 100px 30px;
}

.confirmation form .FaildInput {
  box-shadow: 0 0 11px -7px black;
  border: 0;
  transition: box-shadow .15s ease;
  background-color: white;
  margin: 20px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.confirmation form .FaildInput input {
  padding: 10px 3px;
  position: relative;
  left: 10px;
  color: #414141;
  width: 100%;
}

.confirmation form .FaildInput input:focus {
  border: none !important;
}

.confirmation form .FaildInput ::placeholder {
  color: #d3d7dc;
}

.confirmation form .FaildInput svg {
  fill: #d3d7dc;
}

.confirmation form .ConnexionBtn {
  background-color: #5e72e4 !important;
  color: white;
}

.confirmation form .ConnexionBtn:hover {
  background-color: #425cf5;
}

@media screen and (max-width: 1440px) {
  .confirmation form {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .confirmation img {
    width: 50%;
  }
  .confirmation form {
    width: 90%;
  }
}

@media screen and (max-width: 560px) {
  .confirmation form {
    width: 100%;
    padding: 30px 10px 100px 10px;
  }
}

.ProfileUserDashborad {
  display: flex;
}

.ProfileUserDashborad .SideBareZone {
  background-color: white;
  width: 15%;
  box-shadow: 0px 0px 11px -5px black;
  text-align: center;
  padding: 30px 20px;
  height: 100vh;
  position: relative;
  z-index: 100;
}

.ProfileUserDashborad .SideBareZone .Logo img {
  max-width: 80px;
  object-fit: cover;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu {
  position: relative;
  top: 40px;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem {
  margin: 25px 0px;
  cursor: pointer;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem svg {
  margin-right: 20px;
  fill: #f3a4b5 !important;
  width: 30px;
  height: 30px;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem:focus span, .ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem:visited span, .ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem:hover span {
  color: black !important;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem .v-btn {
  background-color: transparent !important;
  padding: 0px !important;
  width: 100%;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem .v-btn:hover {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem .v-btn:hover span {
  color: white !important;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem .v-btn:hover svg {
  fill: white !important;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem .v-btn--is-elevated {
  box-shadow: 0px 0px 0px 0px black;
}

.ProfileUserDashborad .SideBareZone .SideBareMenu .MenuItem .v-btn__content {
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
}

@media screen and (max-width: 1440px) {
  .ProfileUserDashborad .SideBareZone {
    width: 20%;
  }
}

@media screen and (max-width: 1440px) {
  .ProfileUserDashborad .SideBareZone {
    padding: 30px 4px;
  }
}

@media screen and (max-width: 1440px) {
  .ProfileUserDashborad .SideBareZone {
    width: 30%;
  }
}

.ProfileUserDashborad .ContentZone {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .Hero {
  position: relative;
  width: 100%;
  padding: 30px;
  min-height: 600px;
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/732/321/105/music-festival-crowds-hands-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center bottom;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .Hero .Mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.15s ease;
  background-color: yellow;
  opacity: .9 !important;
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .Hero h1 {
  position: relative;
  color: white;
  font-size: 2.75rem;
  font-weight: 600;
  line-height: 1.5;
  padding-left: 39px !important;
  padding-right: 39px !important;
  top: 240px;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone {
  margin: 0px 30px;
  position: relative;
  margin-top: -6rem !important;
  box-shadow: 0px 0px 11px -6px black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .Title {
  padding: 20px 30px;
  background-color: white;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .Title button {
  padding: 5px 25px;
  border-radius: 5px;
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
  color: #fff;
  font-weight: bolder;
  box-shadow: 0px 0px 11px -5px black;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .Title h3 {
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #525f7f;
  text-align: left;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .HeadrTable {
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7fafc;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .HeadrTable span {
  width: 100%;
  color: #8898aa;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: start;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable {
  padding: 15px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable span {
  width: 100%;
  color: #2a3d6b;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: start;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Active, .ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Supprimer, .ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .DESACTIVER {
  padding: 3px 10px;
  width: 40%;
  border-radius: 5px;
  background-color: #2dce89;
  color: #fff;
  font-weight: bolder;
  box-shadow: 0px 0px 11px -5px black;
  position: relative;
  transition-duration: 2s;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Active:hover, .ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Supprimer:hover, .ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .DESACTIVER:hover {
  bottom: 2px;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Supprimer, .ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .DESACTIVER {
  background-color: #f5365c;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Active {
  background-color: #2dce89;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Icons {
  display: flex;
  align-items: center;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Icons svg {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  fill: #525f7f;
  cursor: pointer;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .TableData .BodyTable .Icons svg:hover {
  fill: #747474;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .BareSearch {
  padding: 0px 20px 40px 20px;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .BareSearch input {
  box-shadow: 0 0 11px -6px black;
  width: 100%;
  border-radius: 5px;
  padding: 8px 20px;
}

.ProfileUserDashborad .ContentZone .ContentDashboardUser .TableZone .BareSearch ::placeholder {
  color: #888888;
}

.ProfileUserDashborad .ContentZone .BtnNavigation {
  display: none !important;
}

.ProfileUserDashborad .ContentZone .CardConfiguration {
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
}

.ProfileUserDashborad .ContentZone .CardConfiguration .CardItem {
  width: 25%;
  border-radius: 5px;
  padding: 30px 30px 60px 30px;
  box-shadow: 0px 0px 11px -7px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.ProfileUserDashborad .ContentZone .CardConfiguration .CardItem h5 {
  color: white !important;
  text-transform: uppercase !important;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  font-size: 17px;
}

.ProfileUserDashborad .ContentZone .CardConfiguration .CardItem svg {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: white;
  fill: #f5365c;
}

.ProfileUserDashborad .ContentZone .CardConfiguration .CardItem:hover {
  bottom: 3px;
}

@media screen and (max-width: 1024px) {
  .ProfileUserDashborad .ContentZone .CardConfiguration .CardItem {
    padding: 15px;
  }
  .ProfileUserDashborad .ContentZone .CardConfiguration .CardItem svg {
    width: 40px;
    height: 40px;
  }
  .ProfileUserDashborad .ContentZone .CardConfiguration .CardItem h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .ProfileUserDashborad .ContentZone .CardConfiguration .CardItem {
    display: block;
    text-align: center;
  }
  .ProfileUserDashborad .ContentZone .CardConfiguration .CardItem svg {
    margin-top: 10px;
  }
}

.ProfileUserDashborad .Footer {
  padding: 30px;
  display: flex;
  align-items: center;
}

.ProfileUserDashborad .Footer h5 {
  color: #5e72e4;
  font-size: 15px;
  position: relative;
  left: 10px;
}

.ProfileUserDashborad .BlackPage {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.ProfileUserDashborad .userDashBoard {
  position: relative;
  margin-top: -6rem !important;
  margin: 0px 30px;
}

.NewPopup {
  box-shadow: 0 0 11px -4px black;
  position: fixed;
  z-index: 300;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  height: 700px;
  left: 25%;
  top: 10%;
  text-align: start;
  /* Track */
  /* Handle */
}

.NewPopup ::-webkit-scrollbar {
  width: 10px;
  position: relative;
  top: 20px;
  border-radius: 30px;
}

.NewPopup ::-webkit-scrollbar-track {
  background-color: #e4e6e9;
  border-radius: 10px;
}

.NewPopup ::-webkit-scrollbar-thumb {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
  border-radius: 10px;
}

.NewPopup h2 {
  padding: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b3;
}

.NewPopup form {
  margin: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  background-color: #f7fafc;
  box-shadow: 0px 0px 11px -7px black;
  height: 500px;
  overflow-y: scroll;
}

.NewPopup form .ZoneInput {
  padding: 5px 0px;
}

.NewPopup form .ZoneInput span {
  color: #525f7f;
  font-size: .875rem;
  font-weight: 600;
}

.NewPopup form .ZoneInput .InputFaild {
  box-shadow: 0 1px 11px -9px black;
  border: 0;
  transition: box-shadow .15s ease;
  margin: 10px 0px;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
}

.NewPopup form .ZoneInput .InputFaild input, .NewPopup form .ZoneInput .InputFaild textarea {
  padding: 10px 4px;
  position: relative;
  left: 10px;
  width: 100%;
  color: #8898aa;
}

.NewPopup form .ZoneInput .InputFaild input:focus, .NewPopup form .ZoneInput .InputFaild input:hover, .NewPopup form .ZoneInput .InputFaild input:active, .NewPopup form .ZoneInput .InputFaild input:visited, .NewPopup form .ZoneInput .InputFaild textarea:focus, .NewPopup form .ZoneInput .InputFaild textarea:hover, .NewPopup form .ZoneInput .InputFaild textarea:active, .NewPopup form .ZoneInput .InputFaild textarea:visited {
  outline: none;
}

.NewPopup form .ZoneInput .InputFaild ::placeholder {
  color: #bcc2c8;
  position: relative;
  top: 1px;
}

.NewPopup form .ZoneInput .InputFaild svg {
  fill: #bcc2c8;
  width: 25px;
  height: 25px;
}

.NewPopup form .ZoneInput .InputFaild textarea {
  height: 150px;
}

.NewPopup form .ZoneInput .InputFaild textarea:focus, .NewPopup form .ZoneInput .InputFaild textarea:hover, .NewPopup form .ZoneInput .InputFaild textarea:active, .NewPopup form .ZoneInput .InputFaild textarea:visited {
  outline: none;
}

.NewPopup form .ZoneInput .ZoneDate {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NewPopup form .ZoneInput .ZoneDate .DebutDate, .NewPopup form .ZoneInput .ZoneDate .FinDate {
  width: 100%;
}

.NewPopup form .ZoneInput .ZoneDate input {
  display: block;
  margin: 20px 0px;
  width: 70%;
  box-shadow: 0px 0px 11px -6px black !important;
  border: none !important;
}

@media screen and (max-width: 1024px) {
  .NewPopup form .ZoneInput .ZoneDate input {
    width: 90%;
  }
}

.NewPopup form .ZoneInput .ZoneDate input[type="date"] {
  display: block;
  position: relative;
  padding: 8px 25px;
  font-size: 1rem;
  font-family: monospace;
  border: 1px solid #8292a2;
  border-radius: 0.25rem;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
  cursor: pointer;
}

.NewPopup form .ZoneInput .ZoneDate input[type="date"]:focus {
  outline: none;
  border-color: #3acfff;
  box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

.NewPopup form .ZoneInput .ZoneDate ::-webkit-datetime-edit-month-field:hover,
.NewPopup form .ZoneInput .ZoneDate ::-webkit-datetime-edit-day-field:hover,
.NewPopup form .ZoneInput .ZoneDate ::-webkit-datetime-edit-year-field:hover {
  background: rgba(0, 120, 250, 0.1);
}

.NewPopup form .ZoneInput .ZoneDate ::-webkit-datetime-edit-text {
  opacity: 0;
}

.NewPopup form .ZoneInput .ZoneDate ::-webkit-clear-button,
.NewPopup form .ZoneInput .ZoneDate ::-webkit-inner-spin-button {
  display: none;
}

.NewPopup form .ZoneInput .ZoneDate ::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 2.5rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  color: #0078fa;
  background: #0078fa;
}

.NewPopup form .ZoneInput .ZoneDate input[type="date"]:hover::-webkit-calendar-picker-indicator {
  opacity: 0.05;
}

.NewPopup form .ZoneInput .ZoneDate input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
  opacity: 0.15;
}

.NewPopup form .CoverImg .AddImg {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 20px 20px 0px;
  cursor: pointer;
  width: 25%;
  text-align: center;
  object-fit: cover;
}

.NewPopup form .CoverImg .AddImg svg {
  width: 50px;
  height: 40px;
  fill: black;
}

.NewPopup form .CoverImg .AddImg img {
  width: 100px;
  height: 100px;
}

.NewPopup form .LesImgs {
  display: flex;
}

.NewPopup form .LesImgs .AddImg {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 20px 20px 0px;
  cursor: pointer;
  width: 20%;
  text-align: center;
  object-fit: cover;
}

.NewPopup form .LesImgs .AddImg svg {
  width: 50px;
  height: 40px;
  fill: black;
}

.NewPopup form .LesImgs .AddImg img {
  width: 100px;
  height: 100px;
}

.NewPopup form .v-select > .v-input__control > .v-input__slot {
  background-color: white;
  border-radius: 0.375rem;
  padding: 0px 10px;
  border: none !important;
}

.NewPopup button {
  padding: 5px 30px;
  border-radius: 5px;
  background-color: #5e72e4;
  color: white;
  margin: 30px 30px 50px 30px;
}

@media screen and (max-width: 1024px) {
  .NewPopup {
    width: 80%;
    left: 10%;
  }
}

.ErrorFaild {
  color: red !important;
  font-weight: 500 !important;
  display: block;
}

.Checkboxzone {
  display: flex;
  align-items: center;
  padding: 30px 0px !important;
}

.Checkboxzone .CheckboxWebSite {
  width: 25px !important;
  height: 25px !important;
  border-radius: 3px;
  box-shadow: 0px 0px 11px -6px black;
  margin-right: 20px;
  cursor: pointer;
}

.LoginTanmirtLogo {
  position: relative;
  top: 100px;
}

.LoginTanmirtLogo img {
  width: 100%;
}

.BlackPage {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed !important;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.loader {
  color: #ffffff;
  font-size: 25px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
  position: fixed;
  z-index: 200000000;
  left: 50%;
  top: 30%;
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.PoupPasswordUpdate {
  height: auto !important;
  top: 40% !important;
}

.PoupPasswordUpdate form {
  height: auto;
  overflow: hidden;
}

.VotreInfoProfile h1 {
  top: 80px !important;
}

.VotreInfoProfile .Hero .CardConfiguration {
  position: relative;
  top: 80px;
}

.VotreInfoProfile .Hero .CardConfiguration .CardItem {
  background: white !important;
  padding: 30px;
}

.VotreInfoProfile .Hero .CardConfiguration .CardItem h5 {
  text-transform: uppercase !important;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.5;
  font-size: 17px;
  color: #525f7f !important;
}

.VotreInfoProfile .Hero .CardConfiguration .CardItem svg {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #f5365c;
  fill: white;
}

.VotreInfoProfile .Hero .CardConfiguration .CardItem:hover {
  bottom: 3px;
}

.VotreInfoProfile .Hero .CardConfiguration .CardItem h2 {
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .VotreInfoProfile .Hero .CardConfiguration .CardItem {
    padding: 15px;
  }
  .VotreInfoProfile .Hero .CardConfiguration .CardItem svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .VotreInfoProfile .Hero .CardConfiguration .CardItem {
    display: block;
    text-align: center;
  }
  .VotreInfoProfile .Hero .CardConfiguration .CardItem svg {
    margin-top: 10px;
  }
}

.HeadrDashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  position: absolute;
  z-index: 1000000;
  width: 100%;
}

.HeadrDashboard h3 {
  color: white;
}

.HeadrDashboard button {
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  color: #f5365c;
}

.HeadrDashboard button:hover {
  border: 1px solid white !important;
  color: white;
  background: transparent;
}

.NotFound {
  background: #f5365c;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.NotFound h1 {
  color: white;
  font-size: 100px;
  font-weight: bolder;
}

.NotFound button {
  padding: 8px 30px;
  background-color: white;
  color: #f5365c;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 10px;
}

.NotFound button:hover {
  background-color: transparent !important;
  border: 1px solid white;
  color: white;
}

.theme--light.v-list {
  padding: 0px;
}

.theme--light.v-list .v-list-item {
  cursor: pointer;
}

.theme--light.v-list .v-list-item:hover {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
  color: white !important;
}

.FilterBarAccuil {
  padding: 20px;
}

.FilterBarAccuil .ZoneInput {
  padding: 5px 0px;
}

.FilterBarAccuil .ZoneInput span {
  color: #525f7f;
  font-size: .875rem;
  font-weight: 600;
}

.FilterBarAccuil .ZoneInput .InputFaild {
  box-shadow: 0 1px 11px -9px black;
  border: 0;
  transition: box-shadow .15s ease;
  margin: 10px 0px;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: white;
}

.FilterBarAccuil .ZoneInput .InputFaild input, .FilterBarAccuil .ZoneInput .InputFaild textarea {
  padding: 10px 4px;
  position: relative;
  left: 10px;
  width: 100%;
  color: #8898aa;
}

.FilterBarAccuil .ZoneInput .InputFaild input:focus, .FilterBarAccuil .ZoneInput .InputFaild input:hover, .FilterBarAccuil .ZoneInput .InputFaild input:active, .FilterBarAccuil .ZoneInput .InputFaild input:visited, .FilterBarAccuil .ZoneInput .InputFaild textarea:focus, .FilterBarAccuil .ZoneInput .InputFaild textarea:hover, .FilterBarAccuil .ZoneInput .InputFaild textarea:active, .FilterBarAccuil .ZoneInput .InputFaild textarea:visited {
  outline: none;
}

.FilterBarAccuil .ZoneInput .InputFaild ::placeholder {
  color: #bcc2c8;
  position: relative;
  top: 1px;
}

.FilterBarAccuil .ZoneInput .InputFaild svg {
  fill: #bcc2c8;
  width: 25px;
  height: 25px;
}

.FilterBarAccuil .ZoneInput .InputFaild textarea {
  height: 150px;
}

.FilterBarAccuil .ZoneInput .InputFaild textarea:focus, .FilterBarAccuil .ZoneInput .InputFaild textarea:hover, .FilterBarAccuil .ZoneInput .InputFaild textarea:active, .FilterBarAccuil .ZoneInput .InputFaild textarea:visited {
  outline: none;
}

.AfichierToutZone {
  text-align: end;
}

.AfichierToutZone .AfichierPlus {
  padding: 3px 10px;
  border-radius: 5px;
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 0px 11px -5px black;
  position: relative;
  transition-duration: 2s;
  margin: 20px;
}

.AfichierToutZone .AfichierPlus:hover {
  bottom: 2px;
}
